<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TextFieldMasks.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EDE6784B1E257E4F007E2455</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EDE6785F1E257E50007E2455</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EDE6786A1E257E50007E2455</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
